html{
    line-height: 5em;
    max-width: 1200px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
    text-align: center;
    font-family: "Norse", "Skranji", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    font-size: 2vw;
}
header img{
    max-width: 400px;
    border-radius: 250px;
    box-shadow: 5px 5px 15px grey;  
}

body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("https://i.etsystatic.com/16006406/r/il/f52c64/2354104622/il_794xN.2354104622_c3e9.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
    font-family: Norse;
    src: url(Norse-KaWl.otf);
  }

  div{
    font-size: 20px;

  }

  div p{
    font-size: 30px;
  }

  select{
    width: 400px;
  }

  #quiz {
    border: solid black 1px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #5dd4f8e1;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(198, 222, 60, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(211, 42, 42), 245, 161;
  color: black;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Norse", "Skranji", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:25px;
}
  
  button:hover {
    background-color: #8f8d8d;
  }
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-width: 500px;
  height: 500px;
}

/* Hide all images by default */
.imageSlides {
  transform: -50% -50%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px; /* Ensure images cover the entire container */
  opacity: 0;
  transition: opacity 1s ease; /* Smooth fade transition */
}

/* Show active slide */
.imageSlides.active {
  opacity: 1;
}

.rainbow-letters {
  font-size: 90px;
  
}

.rainbow-letters span:nth-child(10n + 1) {
  color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 2) {
  color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 3){
  color: #651fff;
}

.rainbow-letters span:nth-child(10n + 5){
  color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 4) {
  color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 6){
  color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7){
  color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8){
  color: #ffc107;
}
.rainbow-letters span:nth-child(10n + 9) {
  color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 10) {
  color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 11){
  color: #651fff;
}

.rainbow-letters span:nth-child(10n + 12){
  color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 13) {
  color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 14){
  color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 15){
  color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 16){
  color: #ffc107;
}